@font-face {
    font-family: realone;
    src: url("/src/frontend/Comback-Home.ttf");
}


*{
    margin: 0;
    padding: 0;
    color: black;
    background-image: url("/imgs/wall.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.head{
    text-align: center;
    font-family: realone;
    font-size: larger;
    background-color: aliceblue;
    opacity: 70%;
    padding: 10px;
    font-size: large;
}
.head{
    text-align: center;
    background-color: rgb(216, 162, 162);
    font-family: 'Times New Roman', Times, serif;
    color: wheat;
    padding: 30px;
}

.news-img{
    width: 200px;
    height: 4%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 20px;
}

.news-img:hover {
    border: 2px solid silver;
    border-radius: 30px;
    transform: scale(1.05);
}

.heading {
    margin-bottom: 20px;
    margin-top: 20px;
}

.first-para {
    margin: 50px 100px 20px 100px;
}

.line {
    margin-bottom: 20px;
    margin-top: 20px;
    color: rgb(247, 129, 129);
}

.container {
    font-size: large;
}

footer{
      margin: 50px 100px 20px 100px;
}

.btn {
    display: block;
    padding: 8px 16px;
    background-color: rgb(235, 153, 153);
    border: 2px solid brown;
    border-radius: 20px;
    margin: 10px;
}

.btn:hover {
    background-color: transparent;
    color: white;
    border: 2px solid silver;
    transform: scale(1.05);
}

.btn-box{
    display: flex;
    justify-content: center;
}

.txt {
    background-color: burlywood;
    border: 1px solid brown; 
    width: 200px; height: 100px;
    border-radius: 10px; 
}

.img-con{
    display: flex;
    justify-self: space-around;
}
.news-img:hover {
    transform: scale(1.05);
    border: 2px solid silver;
    border-radius: 50px;
}

.ex {
    display: flex;
    padding: 50px;
}